<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.fest.safekeeper">

    <uses-permission android:name="READ_CLIPBOARD_IN_BACKGROUND" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomActionBar"
        tools:replace="android:theme">
        <activity
            android:name=".activities.BiometricActivity"
            android:theme="@style/Theme.Biometric"
            android:exported="true" >

        </activity>
        <activity
            android:name=".activities.NewPasswordItemActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomActionBar" >

        </activity>
        <activity
            android:name=".activities.PasswordItemActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>